<div class="canvas-inner component-inner" role="region">

    {{> component this}}

    <div class="canvas-widget component-widget">

        <canvas id="{{_media.id}}" class="canvas-element" width="100" height="150"></canvas>
        
    </div>
</div>
