<div class="canvas-inner component-inner" role="region">
    {{> component this}}
    <div class="canvas-widget component-widget">

        <canvas id="canvas" class="canvas-element" width="150" height="150"></canvas>
        
    </div>
</div>
